:root {
  --green: #717e63;
  --black: #181a27;
  --white: #ffefe5;
  --shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
  inset -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--white);
}

nav {
  box-shadow: none !important;
}

#mobile-demo {
  background-color: var(--green);
}

.nav-wrapper {
  background-color: var(--green);
  box-shadow: none !important;
}

.brand-logo {
  margin-left: 10px;
}

.nav-search,
.modal-trigger {
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  box-shadow: none;
  transition: 0.5s;
}

.nav-search:hover,
.modal-trigger:hover {
  background-color: var(--green);
  color: var(--white);
  box-shadow: 5px;
}



#mobile-modal-trigger, #mobile-nav-search{
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  box-shadow: none;
  transition: 0.5s;
}







#left-div {
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  width: 50%;
}

#left-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#right-div {
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  right: 0;
  left: 50%;
  bottom: 0;
  text-align: center;

}

#right-div h4 {
  color: var(--black);
  font-size: 3vw;
}

#right-div h4 .span {
  color: var(--green);
  font-weight: bold;
}

#right-div .typewriter h4 .hike {
  border-right: 8px solid var(--green);
  animation: blink-caret 0.9s step-end infinite;
  padding-right: 8px;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--green);
  }
}

.mainbutton {
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
  box-shadow: none;
  transition: 0.5s;
  font-weight: bold;
}

.mainbutton:hover {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 2px;
}

.modal-content{
  background-color: var(--green);
  color: var(--white);
}

.modal-content .section{
  box-shadow: var(--shadow); ;
  padding: 15px;
  border-radius: 5px;
}

.modal-content ul li{
display: inline-block;
padding: 10px;
transition: 0.5s;
}

.modal-content ul li:hover{
  transform: translateY(-15px);
}



.repo-link{
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
  cursor: pointer;
}

.modal-footer a{
  background-color: var(--green);
  color: var(--white);
}

.modal-footer{
  background-color: var(--white)
}

#topbarsearch .input-field .prefix {
  width: 0rem !important;
}

#topbarsearch nav ul li:hover,
nav ul li.active {
  background-color: green !important;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .autocomplete-content {
  margin-left: 1rem !important;
}

#ExploreWithMap {
  font-weight: Bold;
  color: white;
}

.formContainer {
  right: 0;
  margin: 20px;
  padding: 16px;
  background-color: white;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgb(238, 238, 175);
  border: 2px solid #4caf50;
}
.button1:hover {
  background-color: yellow;
}

.button2 {
  background-color: rgb(98, 98, 230);
  border: 2px solid #4caf50;
}
.button2:hover {
  background-color: blue;
}

.button3 {
  background-color: rgb(238, 109, 109);
  border: 2px solid #4caf50;
}
.button3:hover {
  background-color: red;
}

footer {
  background-color: orangered;
}

#milesButtonAndSearchCity {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.error {
  font-weight: bold;
  color: red;
}
#buttonsfor5-10-15 {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: rgb(187, 172, 172);
  flex-direction: column;
}

/* #buttonsfor5-10-15 button {
  margin-left:20px;
} */

#recentSearches {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: rgb(143, 127, 127);
}

#leftsidepage2ButtonsAndLocalStorage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.clear-city {
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  box-shadow: none;
  transition: 0.5s;
  margin-left: 20px;
}

.clear-city:hover {
  background-color: var(--green);
  color: var(--white);
  box-shadow: 5px;
}

#apiWeatherAndMap {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
#WeatherParameters {
  font-weight: bold;
}
#map {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  overflow-x: scroll;
  width: 100%;
  /* The client insists that images be at least 400px */
  min-width: 400px;
}

@media screen and (max-width:768px) {
  #imageContainer {
    flex-direction: column;
  }
}